# Node.js
node_modules/

# Logs
*.log
logs/

# Dependency directories
pnpm-lock.yaml
yarn.lock
package-lock.json

# Environment files
.env

# VS Code directories
.vscode/

# macOS system files
.DS_Store

# Linux system files
Thumbs.db

# IDE / Editor files
.idea/
*.swp

# Build directories
dist/
build/
